package templates

templ Index() {
<!doctype html>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />

      <script src="https://unpkg.com/htmx.org/dist/ext/class-tools.js"></script>

      <title>Basic HTMX GO-FIBER</title>
    </head>
    <body>
        Hello World
    </body>
  </html>
}
